body{
    text-align: center;
}
.root{
    display: inline-block;
    margin: 30px auto;
    text-align: left;
}
.input{
    margin-bottom: 30px;
}

.label{
    margin-right:10px;
}
.field{
    width: auto;
}